body{

margin:0;

font-family:Arial;

background:#0f0f0f;

color:white;

overflow:hidden;

}

/* HEADER */

header{

height:70px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:#111;

border-bottom:1px solid
rgba(255,255,255,.1);

}

/* PAGES */

.page{

position:absolute;

top:70px;

bottom:80px;

left:0;

right:0;

overflow:auto;

padding:20px;

display:none;

}

.active{
display:block;
}

/* STORIES */

.stories{

display:flex;

gap:12px;

overflow:auto;

margin-bottom:20px;

}

.story{

min-width:70px;

height:70px;

border-radius:50%;

background:linear-gradient(
135deg,
#ff0080,
#5f00ff
);

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

box-shadow:0 0 20px
rgba(255,0,128,.5);

}

/* CARDS */

.card{

background:#1a1a1a;

padding:20px;

border-radius:20px;

margin-bottom:20px;

}

/* POSTS */

.post{

background:#1a1a1a;

padding:20px;

border-radius:20px;

margin-bottom:20px;

}

.post button{

margin-top:10px;

}

/* INPUTS */

input,
textarea,
select{

width:100%;

padding:14px;

margin-top:10px;

border:none;

border-radius:14px;

background:#2a2a2a;

color:white;

}

/* BUTTON */

button{

background:#ff0080;

border:none;

padding:14px;

border-radius:999px;

color:white;

font-size:16px;

width:100%;

margin-top:10px;

}

/* CHAT */

.message{

background:#2a2a2a;

padding:12px;

border-radius:12px;

margin-top:10px;

}

/* PROFILE */

.profile{

text-align:center;

}

.avatar{

width:120px;

height:120px;

border-radius:50%;

background:linear-gradient(
135deg,
#ff0080,
#5f00ff
);

margin:auto;

margin-top:20px;

box-shadow:0 0 30px
rgba(255,0,128,.6);

}

/* MENU */

.bottom-menu{

position:fixed;

bottom:0;

left:0;

right:0;

height:80px;

background:#111;

display:flex;

justify-content:space-around;

align-items:center;

border-top:1px solid
rgba(255,255,255,.1);

}

.bottom-menu button{

background:none;

border:none;

font-size:24px;

width:auto;

}
